html {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
      -webkit-box-sizing: inherit;
         -moz-box-sizing: inherit;
              box-sizing: inherit;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: grey;
}

nav {
  overflow: auto;
  background-color: transparent;
  position: absolute;
  width: 100%;
  top: 0;
}

.header-nav {
 display: flex;
 list-style-type: none;
 align-items: center;
}

.nav-left {
  color: white;
  margin-right: auto;
}

.nav-right {
  color: white;
  margin: 0 2em;
}

.nav-right a {
  text-decoration: none;
  color: white;
}

.nav-button {
  padding: 1em;
  border-radius: 1em 0 0 0;
  background-color: lime;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

/* End of Nav */

/* Hero */
main {
  /* margin-top: -140px; */
  height: 100vh;
  width: 100vw;
  background-image: url("./assets/sof-hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.hero {
  color: white;
  padding-top: 10em;
}

.signup-button {
  padding: 1em;
  border-radius: 1em 0 0 0;
  background-color: lime;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

.trial-button {
  margin-left: 2em;
  padding: 1em;
  border-radius: 1em 0 0 0;
  border: 1px solid white;
  background-color: transparent;
  color: white;
  font-weight: 800;
  text-transform: uppercase;
}


