* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	border: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(4, 4, 4);
}

nav {
  background-color: transparent;
  position: absolute;
  width: 100%;
}

.header-nav {
 display: flex;
 list-style-type: none;
 align-items: center;
 padding: 1em;
}

.nav-left {
  margin-right: auto;
  color: white;
  text-shadow: 1px 2px black;
}

.nav-right {
  color: white;
  text-shadow: 1px 2px black;
  margin: 0 2em;
}


.nav-right a {
  text-decoration: none;
  color: white;
}

.nav-button {
  padding: 1em;
  border-radius: 1em 0 0 0;
  background-color: lime;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}

/* End of Nav */

/* Hero */
.hero {
  height: 100vh;

  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url("./assets/sof-hero-bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero h1 {
  font-size: 3.5rem;
}

.hero p {
  font-size: 1rem;
  margin-bottom: 2em;
  font-weight: 500;
}


.signup-button {
  padding: 1em;
  border-radius: 1em 0 0 0;
  background-color: lime;
  color: black;
  font-weight: 800;
  text-transform: uppercase;
}
.signup-button:hover {
  background-color: black;
  color:lime;
  cursor: pointer;
}

.trial-button {
  margin-left: 2em;
  padding: 1em;
  border-radius: 1em 0 0 0;
  border: 1px solid gainsboro;
  background-color: transparent;
  color: gainsboro;
  font-weight: 800;
  text-transform: uppercase;
}

.trial-button:hover {
  cursor: pointer;
  border: 1px solid white;
  color: white;
}

/* Services */

.services-banner {
  display: flex;
  background-color: rgb(4, 4, 4);
  color: white;
  align-items: center;
}

.services-banner h2, p {
  padding-right: 3rem;
  margin: 3rem;
}

.services-banner p {
  margin-left: 8rem;
}

.main-card-container {
  width: 70%;
}

.main-card {
  height: 300px;
  width: 300px;

  outline: 1px solid red;
}

.side-card  {
  height: 300px;
  width: 100px;
  outline: 1px solid red;
}



